// Specific CSS for your home-page

// tagline
.tagline {
  margin: 40px;
}

// create button
.create-button {
  margin: 40px;
  padding: 11px 10px;
  border: solid black 2px;
  font-size : 14px;
}

// footer

.footer {
  margin-top: 100px;
  padding: 100px;
  background-color: #31586F;

}
