.user-dashboard {
  width: 900px;
  justify-content: center;
  padding-bottom: 30px;
}

a {
  color: black;
  // text-decoration: underline;
}

// Design Avatar und Display Name
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

h1 {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
}

.avatar-large {
  width: 300px;
  border-radius: 50%;
  padding: 20px;
  padding-top: 30px;
}

// Subtitles
h3 {
  text-align: center;
  padding-top: 32px;
  font-size: 30px;
}

// Box that display own dreams
.own-dreams {
  img {
    width: 200px;
  }
  p {
    font-size: 18px;
  }
  .own-dreams-text {
    h4 {
      font-size: 26px;
    }
    h5 {
      font-size: 18px;
    }
    text-align:left;
    padding-left: 20px;
    width: 450px;
  }
  padding: 20px 20px;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  width: 750px;
}

// Box that display own bookings
.own-booking {
  h4 {
    font-size: 26px;
    padding-top: 15px;
  }
}

.own-booking-present {
  h4 {
    font-size: 26px;
    width: 450px;
    text-align: left;
  }

  .action-booking {
    a {
      margin:10px;
      height: 45px;
    }
    a:hover {
      text-decoration: none;
      color: inherit;
    }
  display: flex;
  width: 200px;
  }
  padding: 20px 20px;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 3px;
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}






