.go {
  margin: 30px 390px;
  color:white;

}

.form-inputs {
 width: 500px;
 margin: 0 auto;
}

.btn {
text-align: center;
margin: 10px 390px;
padding: 10px 18px;
border: solid black 2px;
font-size : 14px;
color:black
}

.simple_form {
    background-color: 987771;
    margin-top:7px;

}

#new-user {
  background-color: black;
    margin-top:7px;
}

.alert {
  font-size: 14px;
}
