<div class="container">
  <div class="form-design">
    <%= simple_form_for [@dream, @booking] do |f| %>
    <div class="typewriter">
      <h1 class="typewriter-text">Change your booking for <strong><%= @dream.title %></strong> now!</h1>
    </div>
      <%= f.input :date_booking, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit "UPDATE NOW", class: 'create-button-form' %>
    <% end %>
  </div>
</div>
