<%= simple_form_for [@dream, @booking] do |f| %>
  <h1>Book <strong><%= @dream.title %></strong> now!</h1>
  <%= f.input :date_booking %>
  <%= f.submit 'BOOK NOW', class: 'create-button-form' %>
<% end %>
