<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.psdgraphics.com/file/magical-sky-background.jpg)">
</div>
  <h1 class="tagline">GOOD DREAMS OVERNIGHT<br>SHIPPED HOURLY<br> DIRECTLY </h1>

<%# Cards %>
<div class="cards">
  <% @dreams.each do |dream| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
      <%= link_to dream.title, dream_path(dream) %>
    </div>
  <% end %>
</div>
<!--Button to add a new dream-->
<%= link_to '*My Dream*', new_dream_path, class: 'create-button' %>
