<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.psdgraphics.com/file/magical-sky-background.jpg)">
</div>
  <h1 class="tagline">WELL CURATED DREAMS<br>SHIPPED INSTANTLY<br> WITH CARE </h1>

<%# Cards %>
<div class="cards">
  <% @dreams.each do |dream| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dream.photo %>)">
      <%= link_to dream.title, dream_path(dream) %>
    </div>
  <% end %>
</div>
<!--Button to add a new dream-->
<%= link_to '*Post your dream*', new_dream_path, class: 'create-button' %>
