<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536602012356-86c345795580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Here is where all the dreams go</h1>
    <p>We have all the dreams. We have the best dreams.</p>
  </div>
</div>


<div class="container">
  <div class="cards">
    <% @dreams.each do |dream| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
        <%= link_to dream.title, dream_path(dream) %>
      </div>
    <% end %>
  </div>
</div>
