.banner {
  background-size: cover;
  background-position: center;
  padding: 550px 0;
}


.tagline{
  text-align: center;
  margin-top: 38px;
  margin-left: 50px;
  color:white;
  font-size:57px;
  font-weight: 500;
  font-family:"Raleway", "Helvetica", "sans-serif";
}

.btns-flex {
  display:flex;
  justify-content:center;
  margin-top:30px;
}

.btn {
  text-align: center;
  //margin: 10px 390px;
  padding: 10px 26px;
  border: solid #7d7c7c 1px;
  font-size : 14px;
  color:pink;
  letter-spacing:.5px;
}

.dream-title {
  text-align:center;
 }

.main-comp {
  position: relative;
  margin-top:300px;
}

.dot-dream {
  height: 250px;
  width: 250px;
  background-color:#C4C4DD;
  border-radius: 50%;
  display: inline-block;
  margin-top: -37px;
  position: absolute;
  margin-top: -77px;
  margin-left: 230px;
  z-index: 100;
  font-size:24px;
  position:absolute;
}

.dream-image {
  display: block;
  margin: 22px auto;
}

.standard-img {
  display: block;
  margin: 22px auto;
}

.dream-info {
  position: absolute;
  top: 20px;
  left:288px;
  z-index: 500;
  color:white;
  font-size: 19px;
  font-family: 'Red Hat Text', sans-serif;
}

.book-button{
  text-align: center;
  padding: 10px 26px;
  border: solid #7d7c7c 1px;
  font-size: 14px;
  color: black;
  letter-spacing: .5px;
  border-radius: 4px;
  margin-left: 560px;
  margin-top: -51px
}

.edit-button{
  text-align: center;
  border: solid #7d7c7c 1px;
  font-size : 14px;
  color:black;
  letter-spacing:.5px;
  padding: 8px 27px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  margin-right:10px;
}

.current .edit-button:hover {
  text-decoration:none;
  color:black;
}

.edit-form {
  margin-top: 80px;
  visibility: hidden;
  width: 700px;
  margin: 0 auto;
}

.delete-button {
  text-align: center;
  border: solid #7d7c7c 1px;
  font-size : 14px;
  color:black;
  letter-spacing:.5px;
  padding: 8.5px 27px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  margin-top: 5px;
}
.p-b {
  margin-top:6px;
}

.form-design {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 30px 70px 90px 90px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 4px;

  h1 {
  text-align: left;
  padding: 20px 5px;
  }

}

.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid gray;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

