.container-form {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.sky {
 padding-top: 40px;
 color:white;
}

.dream-image {
 text-align: center;
 margin-top: 100px;
}

.create-button-form {
  border: solid black 2px;
  font-size : 14px;
  width: 120px;
  margin: 24px 0px;
  padding: 11px 15px;
}

.create-button-form a {
  margin-left: 100px;
}

.dream-title {
  margin-top: 50px;
}

