.navbar-lewagon {
  justify-content: space-between;
  background: #31586F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  padding-left: 18px;
}

.nav-link {
  color :black;
  margin-left: 20px;
}

.nav-link a:hover{
  color :black;
}
