.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position: sticky; top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.nav-link {
  color :black;
  margin-left: 20px;
  font-size: 20px;
}

.nav-link a:hover{
  color :black;
}

#navbarDropdown {
  margin-left: 10px;
}
